body {
  background-color:rgb(53, 53, 53);
}

header button {
  position: absolute;
  right: 1em;
  top: 1em;
}

header select {
  position: absolute;
  right: 7em;
  top: 1em;
}

#Netflix_logo {
  width: 50px;
  height: 50px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  display: grid;
  max-width: 1000px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 10px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 15px;
  user-select: none;
}

.prev {
  left: 10px;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
  /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(53, 53, 53, 0.8);
}

.slideshow-container-action {
  position: absolute;
  width: 70%;
  display: flex;
  top: 70%;
  left: 10%;
}

#slideshow-input {
  max-width: 280px;
  height: 40px;
  flex: 2;
  background-color:rgb(67, 66, 66);
  color:rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 25px;
}

#slideshow-button {
  width: 120px;
  height: 40px;
  flex-grow: 0;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  padding-right: 15px;
  margin-left: 5px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 60px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.ad {
  position: relative;
  background-color: lightgray;
  border: 1px solidrgb(226, 226, 226);
  border-radius: 15px;
}

#ad-text1 {
  color: white;
  font-size: 15px;
  padding: 10px;
}

#ad-text2 {
  color:rgb(175, 175, 175);
  font-size: 12px;
  padding: 10px;
}

.ad button {
  position: absolute;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  right: 5%;
  top: 10px;
}

#now {
  position: relative;
  color: white;
  font-size: 15px;
  margin: 50px 0;
}

.now-hot {
  display: flex;
}

.now-hot img {
  width: 104px;
  height: 208px;
}

.slide-container {
  display: flex;
  gap: 10px;
}

.slide-box {
  border-radius: 15px;
}

#why-join {
  color: white;
}

.join {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  top: 10px;
}
.join-box {
  position: relative;
  flex: 1;
  max-width: 130px;
  min-width: 80px;
  border-radius: 15px;
  background-color:rgb(84, 84, 84);
  border: 1px solid #bbb;
}

.join-hook {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 10px;
}

.join-describe {
  margin-top: 20px;
  color:rgb(148, 148, 148);
  font-size: 10px;
}

#faq {
  color: lightgray;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 10px;
}

.faq button {
  background-color:rgb(70, 70, 70);
  color: white;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
  text-align: start;
}

#ready {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 10px;
}

#input-email {
  position: relative;
  background-color: lightgray;
  border: 1px solidrgb(221, 221, 221);
  border-radius: 10px;
}

#ready-start {
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
}

.ready {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer-content div {
  color: gray;
}

.footer-content-items {
  display: grid;
  grid: '. . .';
  text-align: center;
  gap: 10px;
  color: gray;
  font-size: 10px;
  text-decoration: underline;
}

#footer-language-selector {
  background-color: rgb(53, 53, 53);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 15px;
  color: white;
  padding: 5px 20px;
}