body {
  background-color:rgb(53, 53, 53);
}

header button {
  position: absolute;
  border-radius: 15px;
  right: 20px;
  top: 2%;
  padding: 5px 10px;
}

header select {
  position: absolute;
  right: 85px;
  top: 2%;
  color: white;
  background-color: rgb(29, 29, 29);
  border-radius: 15px;
  padding: 5px 10px;
}

#Netflix_logo {
  width: 20px;
  height: 30px;
}

.slideshow-container {
  position: relative;
  display: grid;
  top: 13px;
  margin: 0 10px;
  width: 100%;
  height: 370px;
  border-radius: 15px;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slideshow-container span {
  position: absolute;
  top: 40%;
  left: 3%;
  color: white;
  font-size: 25px;
}

.slideshow-container p {
  position: absolute;
  top: 45%;
  left: 3%;
  color: white;
  font-size: 15px;
}

.slideshow-container h3 {
  position: absolute;
  top: 55%;
  left: 3%;
  color: white;
  font-size: 15px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 10px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 15px;
  user-select: none;
}

.prev {
  left: 10px;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
  /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(53, 53, 53, 0.8);
}

.slideshow-container-action {
  position: absolute;
  width: 70%;
  display: flex;
  top: 70%;
  left: 10%;
}

#slideshow-input {
  max-width: 280px;
  height: 40px;
  flex: 2;
  background-color:rgb(67, 66, 66);
  color:rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 25px;
}

#slideshow-button {
  width: 120px;
  height: 40px;
  min-width: 120px;
  flex-grow: 0;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  padding-right: 15px;
  margin-left: 5px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 60px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.ad {
  position: relative;
  background-color: rgba(212, 212, 212, 0.3);
  border: 1px solid rgb(226, 226, 226);
  border-radius: 15px;
  padding: 10px 0px;
  margin: 0 20px;
}

#ad-text1 {
  color: white;
  font-size: 15px;
  padding: 10px;
  margin-left: 30px;
}

#ad-text2 {
  color:rgb(175, 175, 175);
  font-size: 12px;
  padding: 10px;
  margin-left: 30px;

}

.ad button {
  position: absolute;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  right: 5%;
  top: 35%;
}

#now {
  color: white;
  font-size: 15px;
  margin: 20px;
}

.now-hot {
  display: flex;
}

.slide-container {
  display: flex;
  margin: 0 20px;
  gap: 10px;
}

.slide-box {
  position: relative;
}

.slide-box img {
  width: 104px;
  height: 208px;
  border-radius: 15px;
}

.slide-box div {
  position: absolute;
  top: -2%;
  left: -20%;
  color: black;
  font-size: 45px;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
  padding: 10px;
}



.slide-box {
  border-radius: 15px;
}

#why-join {
  color: white;
  margin-left: 20px;
}

.join {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  top: 10px;
  margin: 0 50px 20px 50px;
}
.join-box {
  position: relative;
  flex: 1;
  /* max-width: 130px; */
  min-width: 80px;
  min-height: 160px;
  border-radius: 15px;
  background-color:rgb(84, 84, 84);
  border: 1px solid #bbb;
}

.join-hook {
  position: absolute;
  top: 10px;
  left: 5%;
  color: #fff;
  font-size: 13px;
}

.join-describe {
  position: absolute;
  top: 30%;
  left: 5%;
  color:rgb(148, 148, 148);
  font-size: 10px;
  left: 5%;
  right: 5%;
}

#faq {
  color: lightgray;
  margin-left: 20px;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 10px;
  margin-left: 20px;
}

.faq button {
  background-color:rgb(70, 70, 70);
  color: white;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 10px;
  text-align: start;
  padding: 20px;
}

#ready {
  text-align: center;
  color: white;
  font-size: 13px;
  margin-top: 15px;
}


.ready {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 50px 20px 50px;
}

#input-email {
  flex: 2;
  background-color: rgba(67, 66, 66, 0.8);
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 20px;
  padding: 10px;
}

#ready-start {
  fleck-grow: 0;
  width: 120px;
  background-color: red;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  padding: 8px;
}

.ready {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-content div {
  color: gray;
}

#question {
  margin: 20px 0 30px 18px;
}

.footer-content-items {
  display: grid;
  grid: '. . .';
  text-align: start;
  margin-left: 18px;
  gap: 10px;
  color: gray;
  font-size: 10px;
  text-decoration: underline;
}

#footer-language-selector {
  background-color: rgb(53, 53, 53);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 15px;
  color: white;
  padding: 5px 20px;
  margin: 40px 0 20px 18px;
}